$navbar-default-bg: #70dc14;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
float: left;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
}

#logo:hover
{
    text-decoration: none;
    color:gray;
}

.center
{
    text-align: center;
    
}

.jumbotron
{
    background-image: asset-url('emp1.jpg');
    background-size: cover;
    margin: 0px auto;
    height: 550px;
    width: 1000px;
}


.jumbotron h1
{
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.jumbotron h1:hover
{
    color: black;
}
footer
{  
  margin-top: 45px;
  padding-top: 5px;  
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small
{
    float: left;
}
footer a:hover
{
    color: #222;
}

nav ul>li
{
    float: right;
    text-decoration: none;
    list-style-type: none;
}

.panel
{
    background-color:#ffe5e5;
}
.panel h2
{
    text-align: center;
}
.panel ul>li
{
    color:red;
}

#tab1 th
{
 width: 150px;
 padding: 10px;
 text-align: left;
}

#tab2 td,th
{
 width: 250px;
 padding: 5px;
 text-align: center;
 
}