$navbar-default-bg: #70dc14;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
float: left;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
}

#logo:hover
{
    text-decoration: none;
    color:gray;
}

.center
{
    text-align: center;
}

.jumbotron
{
    margin: 0px auto;
    height: 550px;
    width: 700px;
}

footer
{
  background-color: #eaeaea;  
}

footer small
{
    float: left;
}
footer a:hover
{
    color: #222;
}

nav ul>li
{
    float: right;
    text-decoration: none;
    list-style-type: none;
}