<div class="container">
    <footer class="footer">
        <small>
            copyright &copy;
            <a href="#"> Thoughtline </a> by
            <a href="#"> Deepak R Nath </a>
        </small>
        <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
        </ul>
        </nav>
        <a href="">
    </footer>
</div>
            